body {
  margin: 10px 25px;
  background-color: #ddd;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.info-bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff3cd;
  border-bottom: 2px solid;
  width: 100%;
  height: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  /*overflow: auto;*/
}
.info-bar div {
  display: block;
  width: auto;
  /*padding-bottom: 20px;*/
  /*position: relative;*/
}

.info-column {
  position: fixed;
  top: 0;
  left: 0;
  width: 160px;
  padding: 20px;
  height: 100%;
  overflow: auto;
}
.info-column div {
  float: left;
  clear: both;
  width: 90px;
  padding-bottom: 20px;
  position: relative;
}
#unread-count {
  font-size: 1.2em;
  color: #666;
  background-color: #bbb;
  border-radius: 5px;
  padding: 5px;
}
#unread-count.loading {
  background-color: #fff3cd;
}
body.read #unread-count {
  background-color: #ddd;
  border: 1px solid;
}

#current-view {
  font-size: 1em;
  color: #666;
  background-color: #ddd;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
}
.main {
  float: left;
  width: 710px;
  margin-top: 20px;
}
body.bulk .main {
  margin-top: 0;
  margin-left: 70px;
}
.tweetledum-feed {
  margin: 20px 0;
  width: 694px;
}
#load-more, .bulk-save {
  cursor: pointer;
  width: 175px;
  margin: 20px 0 100px 0;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: button;
}
.bulk-save {
  margin-bottom: 20px;
}
#load-more:hover, .bulk-save:hover {
  background-color: #999;
  border-color: #999;
}
.bulk-input {
  width: 300px;
  clear: both;
  font-size: 1rem;
  line-height: 1.9;
  padding: 0 4px;
}
.bulk-save.bulk-save--list {
  margin-top: 5px;
}
.tweetledum-tweet {
  margin-bottom: 5px;
  padding: 10px 20px 10px 0;
  /*border: 2px solid transparent;*/
}
/*.tweetledum-tweet:hover {*/
/*  border-radius: 10px;*/
/*  border: 2px solid #999;*/
/*  background-color: #ccc;*/
/*}*/
/*.tweetledum-tweet.active {*/
/*  border-radius: 10px;*/
/*  border: 2px solid #999;*/
/*  background-color: #ccc;*/
/*}*/
.tweetledum-tweet .extra-info {
  margin: 12px 0;
}
.tweetledum-tweet .extra-info,
.tweetledum-tweet .extra-info .extra-info-body {
  display: none;
}
.tweetledum-tweet .extra-info-author-link {
  text-align: right;
}
.tweetledum-tweet:hover .extra-info,
.tweetledum-tweet.active .extra-info,
.tweetledum-tweet.show-extra .extra-info {
  display: block;
}
.tweetledum-tweet .extra-info-author-name {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: -4px;
}
.tweetledum-tweet .extra-info-author-handle {
  font-size: 15px;
  color: #57426c;
}
.tweetledum-tweet .extra-info-author-info {
  padding-bottom: 10px;
}
.tweetledum-tweet .extra-info-author-info img {
  float: left;
  padding: 6px 10px 0 0;
}
.tweetledum-tweet .extra-info:hover .extra-info-body,
.tweetledum-tweet.show-extra .extra-info .extra-info-body {
  display: block;
  background-color: #fff;
  border-radius: 12px;
  padding: 9px 16px 16px 16px;
  margin-bottom: 10px;
  min-height: 188px;
}
.tweetledum-tweet .extra-info-body {
  font-size: 18px;
  font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.tweetledum-tweet .extra-info-created {
  font-size: .875rem;
  line-height: 1.25rem;
  color: #57426c;
  margin-top: 12px;
}
.tweetledum-tweet.show-extra .bluesky-embed
/*.tweetledum-tweet.show-extra .extra-info-author-link*/
{
  display: none !important;
}

.tweetledummer-post-wrapper {
  max-width: 650px;
  background-color: #fff;
  border: 3px solid transparent;
  border-radius: 12px;
}
.tweetledum-tweet.active > .tweetledummer-post-wrapper,
.tweetledum-tweet:hover > .tweetledummer-post-wrapper {
  border: 3px solid #990000;
}
.quoted .tweetledummer-post {
  /*margin-left: 50px;*/
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  margin-top: 20px;
  overflow: hidden;
}
.quoted .tweetledummer-post .tweetledummer-post__body {
  font-size: 18px;
}
.quoted .tweetledummer-post__footer {
  display: none;
}
.tweetledummer-post__reposted-by {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 16px 0 0 16px;
}
.tweetledummer-post__reposted-by a {
  font-weight: bold;
  color: rgb(66, 87, 108);
  text-decoration: none;
}
.tweetledummer-post__reposted-by a:hover {
  text-decoration: underline;
}
.reply-to .tweetledummer-post__left div {
  height: 100%;
  width: 10px;
  margin: -6px 0 0 30px;
  border-left: 1px solid rgb(54, 75, 97);
}
.tweetledummer-post {
  margin: 12px 0;
}
.tweetledummer-post,
.tweetledummer-post__body {
}

.tweetledummer-post__main {
  /*width: 100%;*/
  flex-grow: 1;
}

.tweetledummer-post {
  display: flex;
  flex-flow: nowrap;
  /*background-color: #fee;*/
  padding: 5px 16px 5px 16px;
  margin-bottom: 10px;
}
.tweetledummer-post__meta {
  display: flex;
  flex-flow: wrap;
  gap: 4px;
  align-items: center;
  padding-bottom: 10px;

}
.tweetledummer-post__meta a {
  color: #000;
  text-decoration: none;
}
.tweetledummer-post__meta a:hover {
  text-decoration: underline;
}
.tweetledummer-post__author-name {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: -4px;
}
.tweetledummer-post__author-handle a {
  font-size: 15px;
  color: rgb(66, 87, 108);
}
.tweetledummer-post__age  {
  font-size: 15px;
  color: rgb(66, 87, 108);
}
.tweetledummer-post__author-image img {
  margin: 6px 10px 0 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.tweetledummer-post__meta .tweetledummer-post__author-image img {
  display: none;
}
.quoted .tweetledummer-post__meta .tweetledummer-post__author-image img {
  width: 25px;
  height: 25px;
  display: block;
}
.quoted .tweetledummer-post__author-image img {
  display: none;
}
.tweetledummer-post__body {
  font-size: 18px;
  font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.tweetledummer-post__created {
  font-size: .875rem;
  line-height: 1.25rem;
  color: #57426c;
  margin-top: 12px;
}
.tweetledummer-post__video {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 10px;
  margin-bottom: -20px;
}
.tweetledummer-post__images {
  border-radius: 12px;
  margin-top: 20px;
  overflow: hidden;
}
.tweetledummer-post__images--multiple {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}
.tweetledummer-post__images--multiple img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}
.tweetledummer-post__images--multiple a {
  position: relative;
  height: 0;
  padding-bottom: 269px;
  flex: 1 0 200px;
  overflow: hidden;
}
.tweetledummer-post__images--single img {
  display: block;
  width: 100%;
}
.tweetledummer-post__images--single a {
  width: 100%;
  display: block;
}

.tweetledummer-post__footer {
  border-top: 1px solid #e5e7eb;
  padding-top: 9px;
  margin: 10px 0 -6px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;
}

.reply-to .tweetledummer-post__footer {
  display: none;
}

.tweetledummer-post__footer a {
  text-decoration: none;
}
.tweetledummer-post__footer a:hover {
  text-decoration: underline;
}

.tweetledummer-post__stats {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}
.tweetledummer-post__footer .tweetledummer-post__stat {
  display: flex;
  flex-flow: nowrap;
  align-items: center;
}
.tweetledummer-post__footer .tweetledummer-post__stat img {
  display: inline-block;
}
.tweetledummer-post__footer .tweetledummer-post__stat div {
  display: inline-block;
  margin-left: 6px;
}

.tweetledummer-post__links {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}


.tweetledummer-post__embed {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  margin-top: 20px;
  overflow: hidden;
}
.tweetledummer-post__embed .embed-text {
  margin: 18px;
}
.tweetledummer-post__embed a {
  text-decoration: none;
  color: #000;
}
.tweetledummer-post__embed .embed-title {
  font-size: 18px;
  font-weight: bold;
}
.tweetledummer-post__embed .embed-source {
  font-size: 16px;
}
.tweetledummer-post__embed .embed-description {
  font-size: 16px;
}
.tweetledummer-post__embed img {
  width: 100%;
}

/*tweetledummer-post__images__single*/
/*tweetledummer-post__images__multiple*/






.loading-message {
  width: 135px;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid #333;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #999;
}
.loading-message.error {
  border: 1px solid #f9c9bf;
  color: #a51b00;
  background-color: #fcf4f2;
}
.tweetledum-quoted {
  /*width: 475px;*/
  /*margin-left: 25px;*/
}
.tweetledum-reply-to-embed {
  width: 460px;
  padding-left: 19px;
  margin-left: 19px;
  border-left: 2px solid #999;
}
.info-column .tweetledum-controls {
  position: absolute;
  bottom: 0;
  height: 200px;
  margin: 0 0 20px 0;
}
.info-column .tweetledum-controls button {
  display: block;
  clear: both;
  padding: 10px 0 10px 0;
  margin: 10px 0 0 0;
  font-size: 20px;
  width: 45px;
  background-color: #ccc;
  border: 1px solid #999;
  border-radius: 0.25rem;
}
.tweetledum-bulk {
  margin: 0 0 0 60px;
  width: 505px;
}
.bulk-mark-read td.checkbox {
}
.bulk-mark-read td.tweeter {
}
.bulk-mark-read td.count {
  text-align: right;
}
table.bulk-mark-read {
  padding-bottom: 100px;
}
.lists-wrapper h3 {
  margin-bottom: 0;
}
.lists-wrapper .lists ul {
  padding-inline-start: 17px;
}
.list-fields {
  margin-top: 30px;
}
.messages {
  width: 400px;
  border: 1px solid #3c763d;
  padding: 10px;
  color: #3c763d;
  background-color: #dff0d8;
  margin-bottom: 30px;
}
.messages.errors {
  border-color: #a94442;
  color: #a94442;
  background-color: #f2dede;
}
div.count-label {
  padding-bottom: 0;
  font-weight: bold;
}
.count-value {
  font-size: 1.2em;
  color: #666;
  background-color: #bbb;
  border-radius: 5px;
  padding: 5px;
}

@media screen and (min-width: 775px) {
/*
  .bulk-save--mark {
    position: fixed;
    left: 500px;
    bottom: 0%;
  }
*/
  .bulk-save.bulk-save--list {
      margin-top: 20px;
  }
  .list-fields {
      padding: 0 50px;
  }
  .actions div {
      display: inline;
  }
  .actions {
      position: fixed;
      left: 0;
      bottom: 0;
      background-color: #fff3cd;
      border-top: 2px solid;
      width: 100%;
      padding-left: 30px;
  }
}

